/* General */
html {
    scroll-behavior: smooth;
    scroll-padding: 80px;
  }

/* Utilytis */
.navbar-toggle{
    margin-top: 20px;
}
.text-up{
    text-transform: uppercase;
}

.f-big{
    font-size: 56px;
    font-weight: 700;
}
.p-0{
    padding: 0;
}
.mt-30{
    margin-top: 30px;
}

.mb-20{
    margin-bottom: 20px;
}
.line-h-20{
    line-height: 35px;
}

/* STAR */
.fa, .fas {
    font-size: 30px;
    vertical-align: middle;
    margin: 15px 15px;
}
/* END STAR */

.line-w{
    display: inline-block;
    width: 15%;
    height: 5px;
    background-color: #fff;
    border-radius: 10px;
}
.line-b{
    display: inline-block;
    width: 15%;
    height: 5px;
    background-color: #3a546d;
    border-radius: 10px;
}



/* Color text and background */
.bg-green{
    background-color: #1abc9c;
}

.bg-blue{
    background-color: #2c3d50;
}

.color-b{
    color: #3a546d;
}
.color-w{
    color: #fff;
}

/* Header-top navbar */
.header-top .navbar{
    border: none;
}

.header-top .navbar-brand{
    color: #fff;
    text-transform: uppercase;
    line-height: 80px;
    padding: 0 15px;
    transition: background 0.3s;
    transition: border 0.3s;
    min-height: 85px;
    border-bottom: 5px solid transparent;
}

.header-top .navbar-nav>li>a{
    color: #fff;
    text-transform: uppercase;
    line-height: 80px;
    padding: 0 15px;
    transition: background 0.3s;
    transition: border 0.2s;
    border-bottom: 5px solid transparent;
}
.header-top .navbar-nav>li>a:focus,
.header-top .navbar-brand:focus{
    color: #fff;
}

/* Header-top navbar hover*/
.header-top .navbar-nav>li>a:hover{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: 5px solid #fff;
}

.header-top .navbar-brand:hover{
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    border-bottom: 5px solid #fff;
}

/* Header-bottom-profile */
.header-bottom{
    min-height: 500px;
    padding: 180px 30px 30px 30px;
}

.header-bottom .profile img{
    max-width: 40%;
    max-height: 40%;
}

/* Main hero */
.hero .content{
    padding: 30px;
    padding-bottom: 60px;
}
/* Portfolio */
.portfolio{
    min-height: 150px;
    padding: 30px;
}

/* box */
.box{
    padding: 10px;
}
.box-img{
    position: relative;
    transition: transform 0.5s;
}

.box-img .fas.fa-plus{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%,10%);
    font-size: 100px;
    font-weight: 900;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 0.3s;
    transition: transform 0.5s;
}

.box-img:hover .fas.fa-plus{
    opacity: 1;
    transform: translate(-80%,-60%);
    cursor: pointer;
}


/* Img */
.hero img{
    border-radius: 10px;
    width: 100%;
}
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: #1abc9c;
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;
}
.hero .box-img:hover .overlay{
    opacity: 0.8;
}
/* Abount-hero */
.about{
    min-height: 400px;
    padding: 30px;
}

.about .row p{
    font-size: 20px;
    font-weight: 500;
}

.mybtn{
    border: 1px solid #fff;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px 40px;
}

.mybtn:hover{
    color: #fff;
    background-color: rgba(245, 243, 243,0.4);
}

.fas.fa-download{
    font-size: 14px;
    margin: 0;
    padding: 0;
    padding-right: 10px;
}

/* Contact me hero */
.contact{
    min-height: 500px;
    padding: 30px;
}

.contact input[type="text"],
.contact input[type="username"],
.contact input[type="email"],
.contact .container .row textarea[class="form-control"]{
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #aaa;
    box-shadow: none;
}

.contact .btn.btn-default.btn-sub{
    margin-top: 15px;
}

.contact input[type="text"]::placeholder,
.contact input[type="username"]::placeholder,
.contact input[type="email"]::placeholder,
.contact .container .row textarea[class="form-control"]::placeholder{
    color: #5d6a78;
}

/* Active */
.contact input[type="text"]:focus,
.contact input[type="username"]:focus,
.contact input[type="email"]:focus,
.contact .container .row textarea[class="form-control"]:focus{
    box-shadow: 1px 1px 10px rgba(47, 211, 203, 0.6);
}
/* Hover */
.contact input[type="text"]:hover,
.contact input[type="username"]:hover,
.contact input[type="email"]:hover,
.contact .container .row textarea[class="form-control"]:hover{
    border-bottom: 1px solid rgb(37, 37, 37);
    cursor: pointer;
}
.contact .btn.btn-default.btn-sub{
    transition: color 0.3s;
    transition: border 0.2s;
    transition: background 0.3s;
    padding: 10px 20px;
}

.contact .btn.btn-default.btn-sub:hover{
    border-color:#1abc9c;
    color: #1abc9c;
    background-color: #fff;
}

/* Footer */

/* Footer-top */
.footer-top{
    min-height: 200px;
    background-color: #3a546d;
    padding: 30px;
}

.footer-top .small-text{
    font-size: 20px;
}
.footer-top .row ul{
    padding: 0;
}

.footer-top .row ul li{
    display: inline-block;
    list-style: none;
    margin:20px 5px 20px 0px
}

.footer-top .row ul li a {
    font-size: 18px;
    color: #fff;
    padding: 15px;
    border-radius: 50%;
    border: 1px solid #fff;
}
.footer-top .row ul li a .fab.fa-facebook-f{
    padding-right:5px;
    padding-left: 5px;
}
.footer-top .row ul li a .fab.fa-linkedin-in{
    padding-right:2px;
    padding-left: 2px;
}


.footer-top .row ul li a:hover{
    background-color: rgba(245, 243, 243,0.4);
}

.footer-top a{
    color: #1abc9c;
}

/* Footer-bottom */
.footer-bottom{
    min-height: 100px;
    padding: 30px;
}
.footer-bottom .container h5{
    line-height: 20px;
}

@media screen and (min-width:345px) and (max-width:580px){
    .f-big{
        font-size: 30px;
    }
}

@media screen and (min-width:345px) and (max-width:580px){
    .f-big{
        font-size: 30px;
    }
}
@media screen and (min-width:0px) and (max-width:345px){
    .f-big,
    .header-bottom h3,
    .header-top .navbar-brand{
        font-size: 20px;
    }
    .fa-star{
        font-size: 20px;
        margin-left:10px ;
        margin-right:10px ;
    }
    .header-bottom .line,
    .hero .line{
        max-width: 30%;
    }

    @media screen and (max-width:281px){
        .header-top .navbar-brand{
            font-size: 16px;
        }
    }
}